@font-face {
  font-family: 'sfont';
  src: url('../fonts//web/sfont.eot');
  src: url('../fonts//web/sfont.eot?#iefix') format('embedded-opentype'), url('../fonts/web/sfont.woff2') format('woff2'), url('../fonts/web/sfont.woff') format('woff'),
    url('../fonts/web/sfont.ttf') format('truetype'), url('../fonts/web/sfont.svg#sfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'sfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.i_radio:before {
  content: '\e010';
}
.i_cd:before {
  content: '\e011';
}
.i_music:before {
  content: '\e012';
}
.i_recommend:before {
  content: '\e013';
}
.i_rank:before {
  content: '\e014';
}
.i_playlist:before {
  content: '\e015';
}
.i_sound:before {
  content: '\e016';
}
.i_favorite:before {
  content: '\e017';
}
.i_pause:before {
  content: '\e018';
}
.i_play:before {
  content: '\e019';
}
.i_next:before {
  content: '\e01a';
}
.i_next_11:before {
  content: '\e01b';
}
.i_mail:before {
  content: '\e01c';
}
.i_music_13:before {
  content: '\e01d';
}
.i_qm_favorites_is:before {
  content: '\e01e';
}
.i_not_collection:before {
  content: '\e01f';
}
.i_radio_16:before {
  content: '\e020';
}
.i_radio_17:before {
  content: '\e021';
}
.i_time:before {
  content: '\e022';
}
.i_friend:before {
  content: '\e023';
}
.i_video:before {
  content: '\e024';
}
.i_music_21:before {
  content: '\e025';
}
.i_search:before {
  content: '\e026';
}