@font-face {
  font-family: 'sfont';
  src: url('../fonts//web/sfont.eot');
  src: url('../fonts//web/sfont.eot?#iefix') format('embedded-opentype'), url('../fonts/web/sfont.woff2') format('woff2'), url('../fonts/web/sfont.woff') format('woff'),
    url('../fonts/web/sfont.ttf') format('truetype'), url('../fonts/web/sfont.svg#sfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="i_"]:before, [class*=" i_"]:before{
	font-family: "sfont";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.i_theme:before {
	content: "\e010";
}
.i_smile:before {
	content: "\e011";
}
.i_cup:before {
	content: "\e012";
}
.i_piano_music:before {
	content: "\e013";
}
.i_global:before {
	content: "\e014";
}
.i_yes:before {
	content: "\e015";
}
.i_down:before {
	content: "\e016";
}
.i_idea:before {
	content: "\e017";
}
.i_book:before {
	content: "\e018";
}
.i_queen_chess_gam:before {
	content: "\e019";
}
.i_gear:before {
	content: "\e01a";
}
.i_private:before {
	content: "\e01b";
}
.i_camera:before {
	content: "\e01c";
}
.i_text:before {
	content: "\e01d";
}
.i_person:before {
	content: "\e01e";
}
.i_add:before {
	content: "\e01f";
}
.i_right:before {
	content: "\e020";
}
.i_menu:before {
	content: "\e021";
}
.i_return:before {
	content: "\e022";
}
.i_radio:before {
	content: "\e023";
}
.i_cd:before {
	content: "\e024";
}
.i_music:before {
	content: "\e025";
}
.i_recommend:before {
	content: "\e026";
}
.i_rank:before {
	content: "\e027";
}
.i_playlist:before {
	content: "\e028";
}
.i_sound:before {
	content: "\e029";
}
.i_favorite:before {
	content: "\e02a";
}
.i_pause:before {
	content: "\e02b";
}
.i_play:before {
	content: "\e02c";
}
.i_next:before {
	content: "\e02d";
}
.i_next_30:before {
	content: "\e02e";
}
.i_mail:before {
	content: "\e02f";
}
.i_music_32:before {
	content: "\e030";
}
.i_qm_favorites_is:before {
	content: "\e031";
}
.i_not_collection:before {
	content: "\e032";
}
.i_radio_35:before {
	content: "\e033";
}
.i_radio_36:before {
	content: "\e034";
}
.i_time:before {
	content: "\e035";
}
.i_friend:before {
	content: "\e036";
}
.i_video:before {
	content: "\e037";
}
.i_music_40:before {
	content: "\e038";
}
.i_search:before {
	content: "\e039";
}


