@charset "utf-8";
/*
      www.SFont.cn 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.sfont.cn">icon</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.sfont.cn">icon</a>
*/
@import url("web/sfont.css");
body {
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 16px;
	padding: 20px;
	color: #333;
}
:hover,:before,:after{
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
color: #66A523;
}
h1.logo {
	font-size: 40px;
	letter-spacing: -1px;
	margin-top: -16px;
	border-bottom: 1px solid #bbb;
}
h1.logo strong {
	font-size: 16px;
	font-family: sans-serif;
	color: #333;
}
h1.logo a {
	color: #34302d;
	text-decoration: none;
}
h1.logo a span {
	color: #66A523;
}
h1.logo a small {
	color: #006699;
}
.info {
	float: left;
	font-size: 14px;
	margin-top: 15px;
}
.info ul {
	margin-left: 0px;
	color: #111;
	margin-bottom: 20px;
}
.info .exs {
	font-size: 12px;
	color: #666;
	margin-left: 35px;
	display: block;
}
.info ul li {
	margin-top: 10px;
	list-style: none;
}
.info .numno {
	color: #fff;
	border-radius: 20px;
	padding: 1px;
	display: inline-block;
	width: 22px;
	height: 22px;
	text-align: center;
	margin-right: 10px;
	background-color: #999999;
}
.info ul strong {
	font-weight: normal;
	color: #000;
}
.info .inst {
	font-size: 22px;
	margin-bottom: 10px;
}
.demo {
	float: left;
	width: 100%;
	height: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #bbb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bbb;
	padding-bottom: 10px;
}
.demo .demo_svg {
	float: left;
	height: auto;
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}
.demo .demo_svg i {
	float: left;
	height: 80px;
	width: 80px;
	text-align: center;
	font-size: 40px;
	margin-left: 10px;
	line-height: 80px;
	color: #777;
}
.demo .demo_svg .code {
	float: left;
	height: 20px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 20px;
	font-size: 11px;
	color: #666;
}
.demo .demo_svg .txt {
	float: left;
	height: 20px;
	width: 100%;
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	line-height: 20px;
}
.demo .demo_svg:hover i {
	font-size: 60px;
	color: #333;
}
.by {
	padding-top: 15px;
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
    }

    .by {
	margin-bottom: 10px;
	font-size: 20px;
    }
.by .attr {
	font-size: 14px;
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
}

    textarea {
	width: 80%;
	height: auto;
	border: 1px solid #CCC;
	resize: none;
	background: #EEE;
	padding: 20px;
	float: left;
	margin-top: 10px;
	line-height: 30px;
    }
#footer {
	float: left;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 20px;
}
